# Ignore database files
*.db
*.mdf
*.ldf

# Ignore EF Core migration snapshots (optional)
Migrations/*Snapshot.cs

# Ignore large cache or temp files
*.log
*.zip
*.tar.gz
*.7z
*.exe
*.iso
*.dll

# Ignore bin and obj folders
bin/
obj/

# Ignore user-specific settings
*.user
*.vs/


out/
*.pdb